.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.google-login-btn{
  width : 80%;
  border-radius: 20%;
  color: black;
  font-weight: 800;

}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
input[type="text"]{
  outline: none !important;
}
input[type="email"]{
  outline: none !important;
}

input[type="password"]{
  outline: none !important;
}
input[type="search"]{
  outline: none !important;
}
.input{
    display: block;
    margin: auto;
    border: none;
    padding: 0;
    width: 7.5ch;
    background:repeating-linear-gradient(90deg, #828282,0, #828282 1ch, transparent 0,transparent 1.5ch) 0 100%/ 7ch 1px no-repeat;
    font: 4ch droid sans mono, consolas, monospace;
    letter-spacing: 0.5ch;
  }

  .input:focus{
    outline: none;
    color: #828282;
  }

  .container {
    display: grid;
    width: 100%;
  }
  
  .content, .overlay {
    grid-area: 1 / 1;
  }

  .backdrop{
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 31.1011px -31.1011px 31.1011px rgba(165, 165, 165, 0.1), inset -31.1011px 31.1011px 31.1011px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(31.1011px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 24px;
  }
  /* .input{
    padding: 2px;
    border-radius: 10px;
    background-color: #F5F5FC;
    justify-self: center;
  }

  .input:focus{
    outline: #05C731;
  } */

  ::-webkit-scrollbar {
    width: 10px;
    max-height: 8px;
  }
    ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
    ::-webkit-scrollbar-thumb {
    background: #afb4b4; 
      border-radius:10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    
    background: #afb4b4; 
  } 